<% for(var i = 0; i < postData.length; i++) { %>

  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" >
            <img src="uploads/<%=postData[i].photo_src%>" alt="userImage" srcset="" class="img-fluid">
  
            </div>
          </div>
<% } %>   